

.header {
  width: 100%;
  position: relative;
  &__container {
    height: rem($headerHeight);
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(24) rem(32);
  }
  &__img{
    max-height: rem(65);
    position: relative;
    z-index: 10;
  }
}
.menu {
  display: flex;
  gap: rem(32);
  align-items: center;
  &__btn {
    display: block;
    position: relative;
    z-index: 10;
    &-long{
      @include media-mx(1100) {
        display: none;
      }
    }
    &-short{
      display: none;
      @include media-mx(1100) {
        display: inline-block;
      }
    }
  }
  &__link {
    color: var(--secondary-text, #C8C7D8);
    font-family: RationalTWText;
  }
  &__list {
    display: flex;
    gap: rem(32);
    @include media-mx(1100) {
      display: none;
    }
  }
}


// Burger

.icon-menu {
  display: none;

  @include media-mx(1100) {
    display: block;
    position: relative;
    width: rem(18);
    height: rem(14);
    cursor: pointer;
    z-index: 10;
    background: none;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: var(--primary-text);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

