.header {
  width: 100%;
  &__container {
    height: rem($headerHeight);
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(24) rem(32);
  }
  &__img{
    max-height: rem(65);
  }
}
.menu {
  display: flex;
  gap: rem(32);
  align-items: center;
  &__btn {
    display: block;
  }
  &__item {
  }
  &__link {
    color: var(--secondary-text, #C8C7D8);
    font-family: RationalTWText;
  }
  &__list {
    display: flex;
    gap: rem(32);
  }
}

// Burger
/*
.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
