// ######### Section - hero ###########
.hero {
  &__button-left{
    background: var(--background-secondary, #393953);
    padding-left: rem(30);
    padding-right: rem(30);
  }
  &__buttons {
    margin-top: rem(50);
    display: flex;
    justify-content: center;
    gap: rem(32);
  }
  &__flex {
    margin: 0 auto;
    padding-top: rem(80);
    display: flex;
    flex-direction: column;
    gap: rem(80);
    align-items: center;
    max-width: rem(800);
  }
  &__info {
    display: flex;
    justify-content: center;
    gap: rem(110);
  }
  &__info-text {
    text-align: center;
    color: var(--text-icon-secondary, #C8C7D8);
    font-family: RationalTWText;
    font-size: rem(18);
    line-height: rem(24);
    span {
      color: var(--base-white, #FFF);
      font-size: rem(20);
      line-height: rem(32);
    }
  }
  &__title {
    letter-spacing: -1.76px;
    @include adaptiveClamp('font-size', 80, 40);
    @include adaptiveClamp('line-height', 88, 48);
    span{
      position: relative;
      &::after{
        position: absolute;
        display: block;
        content: '';
        background-image: url(../images/sketches/line.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: rem(24);
        top: rem(90);
        right: rem(-20);
        @include adaptiveClamp('width', 280, 115);
        @include adaptiveClamp('top', 90, 40);
      }
    }
  }
}
// ######################################

// ######### Section - grant ###########
.grant {
  position: relative;
  &__avatar {
    margin-left: rem(-15);
  }
  &__avatars {
    position: absolute;
    bottom: rem(24);
    left: rem(39);
    display: flex;
  }
  &__card {
    height: rem(560);
    max-width: rem(390);
    width: 100%;
    border-radius: 16px;
    background: var(--background-secondary, #393953);
    img{
      width: 100%;
    }
  }
  &__card-container{
    padding: rem(24);
    display: flex;
    gap: rem(10);
    flex-direction: column;
    justify-content: space-between;
  }
  &__card-text {
    margin-top: rem(15);
  }
  &__cards {
    padding-left: rem(20);
    margin-bottom: rem(80);
  }
  &__container {
    padding: 0 rem(108);
    @include media-mx(1440){
      padding: 0 0;
    }
  }
  &__swiper {
    margin-top: rem(80);
  }
  &__title {
    padding-top: rem(30);
  }
}
// ######################################

// ######### Section - grant ###########
.news {
  &__card {
    position: relative;
    height: rem(440);
    max-width: rem(392);
    border-radius: 16px;
    background: var(--background-secondary, #393953);
  }
  &__card-container {
    padding: rem(24);
  }
  &__cards {
    display: flex;
    gap: rem(25);
    justify-content: center;
  }
  &__category {
    margin-bottom: rem(10);
  }
  &__container {
    padding: rem(80) 0;
  }
  &__date {
    position: absolute;
    bottom: rem(24);
    left: rem(24);
  }
  &__title {
    margin-bottom: rem(80);
    h2{
      span{
        position: relative;
        &::after{
          position: absolute;
          content: url(../images/index_page/title_img/news.svg);
          top: rem(-30);
          right: rem(-15);
          width: 100%;
        }
      }
    }
  }
}
// ######################################

// ######### Section - questions ###########
.questions {
  padding-top: rem(80);
  &__accordion {
    margin-bottom: rem(80);
  }
  &__title {
    margin-bottom: rem(80);
    h2{
      span{
        position: relative;
        &::after{
          position: absolute;
          content: url(../images/index_page/title_img/question.svg);
          top: rem(-10);
          right: rem(15);
          width: 100%;
        }
      }
    }
  }
}
// ######################################

// ######### Section - app ###########
.app {
  &__card {
    position: relative;
    width: rem(390);
    height: rem(480);
    border-radius: 16px;
    background: var(--background-secondary, #393953);
    padding: rem(24);
  }
  &__card--one{
    transform: rotate(-3deg);
    z-index: 10;
    &::after{
      position: absolute;
      content: url(../images/index_page/app/arrow_curved.svg);
      top: rem(20);
      right: rem(-70);
    }
  }
  &__card--two{
    transform: rotate(3deg);
    margin-top: rem(20);
    z-index: 9;
    &::after{
      position: absolute;
      content: url(../images/index_page/app/arrow_curved.svg);
      transform: scale(1, -1);
      bottom: rem(100);
      right: rem(-90);
    }
  }
  &__card--three{
    transform: rotate(-3deg);
    z-index: 8;
  }
  &__card-img {
    margin-bottom: rem(30);
  }
  &__card-title {
    margin-bottom: rem(15);
  }
  &__cards {
    display: flex;
    justify-content: center;
    gap: rem(40);
  }
  &__conatiner {
    margin-bottom: rem(80);
  }
  &__title {
    margin-bottom: rem(80);
    h2{
      span{
        position: relative;
        &::after{
          position: absolute;
          content: url(../images/index_page/title_img/process.svg);
          top: rem(20);
          right: rem(10);
          width: 100%;
        }
      }
    }
  }
}
// ######################################