// Заголовки, общие БЄМ блоки и проче...

// Buttons
// <--######################################-->
.button{
  display: inline-block;
  padding: rem(12) rem(16);
  border-radius: 7.29px;
  background: var(--accent-brand, #6966FF);
  letter-spacing: rem(-0.176);
  color: var(--primary-text, #FFF);
  font-size: var(--bs-font-size);
  font-family: var(--bs-font-family);
  font-weight: var(--bs-font-weight);
  line-height: var(--bs-line-height);
  &--after{
    position: relative;
    padding-right: rem(45);
    &::after{
      position: absolute;
      content: url(../images/button_parts/right.svg);
      right: rem(16);
      top: rem(14);
    }
  }
  &--before{
    position: relative;
    padding-left: rem(45);
    &::before{
      position: absolute;
      content: url(../images/button_parts/right.svg);
      left: rem(16);
      top: rem(14);
    }
  }
}
// <--######################################-->

// Badges
// <--######################################-->
.badg{
  display: inline-block;
  padding: rem(4) rem(16);
  border-radius: 100px;
  background: var(--accent-brand, #6966FF);
  letter-spacing: rem(-0.176);
  color: var(--primary-text, #FFF);
  &--after{
    position: relative;
    padding-right: rem(40);
    &::after{
      position: absolute;
      content: url(../images/badges/check.svg);
      right: rem(16);
      top: rem(8);
    }
  }
}
// <--######################################-->

// Avatar
// <--######################################-->
.avatar{
  display: inline-flex;
  padding: rem(8) rem(24) rem(8) rem(8);
  justify-content: center;
  align-items: center;
  gap: rem(16);
  border-radius: 100px;
  background: var(--background-secondary, #393953);
  &__name{
    letter-spacing: rem(-0.176);
    color: var(--primary-text, #FFF);
  }
}
// <--######################################-->

// Title
// <--######################################-->
.title-box {
  margin: 0 auto;
  max-width: rem(600);
  text-align: center;
  &__link {
    position: relative;
    display: block;
    margin-top: rem(25);
    color: var(--accent-brand, #6966FF);
    line-height: 24px;
    letter-spacing: -0.252px;
    @include adaptiveClamp('font-size', 18, 16);
    &::after{
      position: absolute;
      content: '';
    }
  }
  &__text {
    margin-top: rem(16);
    color: var(--secondary-text, #C8C7D8);
    line-height: 24px; 
    letter-spacing: -0.252px;
    @include adaptiveClamp('font-size', 18, 16);
  }
  &__title {
    color: var(--primary-text, #FFF);
    font-weight: 700;
    letter-spacing: -0.88px;
    @include adaptiveClamp('font-size', 40, 24);
    @include adaptiveClamp('line-height', 48, 32);
  }
}
// <--######################################-->