// Заголовки, общие БЄМ блоки и проче...

// Primary text and title
// <--######################################-->
.title-h1{
  color: var(--primary-text, #FFF);
  text-align: center;
  font-weight: 700;
  @include adaptiveClamp('font-size', 60, 32);
  @include adaptiveClamp('line-height', 72, 40);
}
.title-h2{
  color: var(--primary-text, #FFF);
  font-weight: 700;
  letter-spacing: -0.88px;
  @include adaptiveClamp('font-size', 40, 24);
  @include adaptiveClamp('line-height', 48, 32);
}
.title-h3{
  color: var(--primary-text, #FFF);
  font-weight: 700;
  line-height: rem(32); 
  letter-spacing: -0.456px;
  @include adaptiveClamp('font-size', 24, 20);
}
.text-primary{
  color: var(--primary-text, #FFF);
  font-weight: 450;
  letter-spacing: -0.176px;
}
.text-secondary{
  color: var(--tertiary-text, #A59EBA);
  font-family: RationalTWText;
  letter-spacing: -0.456px;
}
// <--######################################-->

// Buttons
// <--######################################-->
.button{
  display: inline-block;
  padding: rem(12) rem(16);
  border-radius: 7.29px;
  background: var(--accent-brand, #6966FF);
  letter-spacing: rem(-0.176);
  color: var(--primary-text, #FFF);
  font-size: var(--bs-font-size);
  font-family: var(--bs-font-family);
  font-weight: var(--bs-font-weight);
  line-height: var(--bs-line-height);
  &--after{
    position: relative;
    padding-right: rem(45);
    &::after{
      position: absolute;
      content: url(../images/button_parts/right.svg);
      right: rem(16);
      top: rem(14);
    }
  }
  &--before{
    position: relative;
    padding-left: rem(45);
    &::before{
      position: absolute;
      content: url(../images/button_parts/right.svg);
      left: rem(16);
      top: rem(14);
    }
  }
}
// <--######################################-->

// Badges
// <--######################################-->
.badg{
  display: inline-block;
  padding: rem(4) rem(16);
  border-radius: 100px;
  background: var(--accent-brand, #6966FF);
  letter-spacing: rem(-0.176);
  color: var(--primary-text, #FFF);
  &--after{
    position: relative;
    padding-right: rem(40);
    &::after{
      position: absolute;
      content: url(../images/badges/check.svg);
      right: rem(16);
      top: rem(8);
    }
  }
}
// <--######################################-->

// Avatar
// <--######################################-->
.avatar{
  display: inline-flex;
  padding: rem(8) rem(24) rem(8) rem(8);
  justify-content: center;
  align-items: center;
  gap: rem(16);
  border-radius: 100px;
  background: var(--background-secondary, #393953);
  &__name{
    letter-spacing: rem(-0.176);
    color: var(--primary-text, #FFF);
  }
}
// <--######################################-->

// Sections title
// <--######################################-->
.title-box {
  margin: 0 auto;
  max-width: rem(600);
  text-align: center;
  &__link {
    position: relative;
    width: max-content;
    margin: 0 auto;
    display: block;
    margin-top: rem(25);
    color: var(--accent-brand, #6966FF);
    line-height: 24px;
    letter-spacing: -0.252px;
    @include adaptiveClamp('font-size', 18, 16);
    &::after{
      position: absolute;
      content: url(../images/index_page/arrow-right.svg);
      right: rem(-30);
      top: 0;
    }
  }
  &__text {
    margin-top: rem(16);
    color: var(--secondary-text, #C8C7D8);
    line-height: 24px; 
    letter-spacing: -0.252px;
    @include adaptiveClamp('font-size', 18, 16);
  }
}
// <--######################################-->

// Swiper
// <--######################################-->
.swiper{
  overflow: visible;
}
.swiper-button-prev{
	&::after{
    position: absolute;
		content: url(../images/controls/arrow-left.svg);
    top: -1px;
	}
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: var(--base-white, #FFF);
  @include media-mx(460){
    display: none;
  }
}
.swiper-button-next{
	&::after{
    position: absolute;
		content: url(../images/controls/arrow-right.svg);
    top: -1px;
	}
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: var(--base-white, #FFF);
  @include media-mx(460){
    display: none;
  }
}
.disabled_swiper_button {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
// <--######################################-->