@font-face {
	font-family: CircularStdBlack;
	font-display: swap;
	src: url("../fonts/CircularStdBlack.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CircularStdBold;
	font-display: swap;
	src: url("../fonts/CircularStdBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CircularStdBook;
	font-display: swap;
	src: url("../fonts/CircularStdBook.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CircularStdMedium;
	font-display: swap;
	src: url("../fonts/CircularStdMedium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RationalTWText;
	font-display: swap;
	src: url("../fonts/RationalTWText-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RationalTWText;
	font-display: swap;
	src: url("../fonts/RationalTWText-Book.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
